[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
flask = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
gspread = "*"
oauth2client = "*"
gunicorn = "*"
setuptools = "*"
virtualenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
