* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

a::hover {
    color: aqua;
}

p > .error {
    font-size: x-large;
    background-color: red;
}
form {
    width: 500px;
    height: 500px;
    text-align: center;
}